@model IEnumerable<UI.Models.SectionModel>

@{
    ViewBag.Title = "Sections";
}

<h2>Sections</h2>

<p>
    @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            No. of Students
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td width="20"><a href="@Url.Action("Edit", new { id = item.Id })" class="glyphicon glyphicon-pencil"></a></td>
        <td width="20"><a href="@Url.Action("Delete", new { id = item.Id })" data-action="delete" class="glyphicon glyphicon-trash"></a></td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level) Year
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Students)
        </td>
    </tr>
}

</table>
