@model IEnumerable<UI.Models.ClassScheduleModel>

@{
    ViewBag.Title = "Schedules";
}

<h2>Class Schedules</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th></th>
    </tr>
    <tr>
        <td><select name="Day" data-url="/DropDownMenu/Days"></select></td>
        <td></td>
        <td></td>
        <td><select name="Instructor" data-url="/DropDownMenu/Instructors" style="width:100px"></select></td>
        <td><select name="Subject" data-url="/DropDownMenu/Subjects" style="width:100px"></select></td>
        <td><select name="Section" data-url="/DropDownMenu/Sections" style="width:100px"></select></td>
        <td><select name="Room" data-url="/DropDownMenu/Rooms" style="width:100px"></select></td>
        <td><button class="btn btn-default btn-sm" id="Reset">Reset</button></td>
    </tr>

@{ Html.RenderPartial("Table", Model); }

</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').on('select2:select', function () {
                var query = {
                    room: $('select[name="Room"]').val(),
                    section: $('select[name="Section"]').val(),
                    subject: $('select[name="Subject"]').val(),
                    instructor: $('select[name="Instructor"]').val(),
                    day: $('select[name="Day"]').val(),
                };
                $.blockUI();
                setTimeout(function () {
                    $.get('/ClassSchedule/FilterData', query, function (result) {
                        $.unblockUI();
                        $('#data-table').replaceWith(result);
                    });
                }, 500);
            });
            $('button#Reset').on('click', function () {
                var query = {
                    room: '',
                    section: '',
                    subject: '',
                    instructor: '',
                    day: '',
                };
                $('select[name="Room"]').val('').trigger('change');
                $('select[name="Section"]').val('').trigger('change');
                $('select[name="Subject"]').val('').trigger('change');
                $('select[name="Instructor"]').val('').trigger('change');
                $('select[name="Day"]').val('').trigger('change');
                $.blockUI();
                setTimeout(function () {
                    $.get('/ClassSchedule/FilterData', query, function (result) {
                        $.unblockUI();
                        $('#data-table').replaceWith(result);
                    });
                }, 500);
            });
        });
    </script>    
}