@model IEnumerable<UI.Models.ClassScheduleModel>

<tbody id="data-table">
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="@Url.Action("Edit", new { id = item.Id })" class="glyphicon glyphicon-pencil"</td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart) - @Html.DisplayFor(modelItem => item.TimeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorFirstName) @Html.DisplayFor(modelItem => item.InstructorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
        </tr>
    }
</tbody>
